version: '3.9'
services:
 server:
   build:
     context: .
   ports:
     - 8080:8080
   environment:
     DB_HOST: db
     DB_PORT: 5432
     DB_NAME: postgres
     DB_USERNAME: daniel
     DB_PASSWORD: password
     DDL_AUTO: update
     SERVER_PORT: 8080
     JWT_SECRET: your-secret-here
     JWT_EXPIRATION: 86400000
   depends_on:
     - db


 db:
   image: postgres:15
   restart: always
   environment:
     POSTGRES_DB: postgres
     POSTGRES_USER: daniel
     POSTGRES_PASSWORD: password
   volumes:
     - db-data:/var/lib/postgresql/data
   ports:
     - 5432:5432


volumes:
 db-data: