# Main Application Configuration
spring:
  application:
    name: estore

  # Default Profile Configuration (Local Development)
  datasource:
    url: jdbc:postgresql://localhost:5332/postgres
    username: daniel
    password: password
    driver-class-name: org.postgresql.Driver

  # JPA/Hibernate Configuration
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false

  # Flyway Configuration (Optional)
  flyway:
    enabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration

# Server Configuration
server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always


# JWT Configuration
jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970337336763979244226452948404D635166546A576E5A7234753778214125442A}
  expiration: ${JWT_EXPIRATION:86400000}


# Logging Configuration
logging:
  level:
    root: INFO
    com.example: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE